@model Cabinet
@{
    ViewData["Title"] = "Кабинет ID " + Model.CabinetId;
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Кабинет ID @Model.CabinetId</h1>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><p>ID кабинета</p></td>
                <td><p>@Model.CabinetId</p></td>
            </tr>

            <tr>
                <td><p>Номер кабинета</p></td>
                <td><p>@Model.Number</p></td>
            </tr>

            <tr>
                <td><p>ID отдела</p></td>
                <td><p>@Model.LocationId</p></td>
            </tr>

            <tr>
                <td><p>Название отдела</p></td>
                <td><p>@Model.Location?.Name</p></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
